<meta charset="utf-8">
<div id="menubar">
<link type="text/css" rel="stylesheet" href="style.css">
<nav class="menubar">
	<ul>
		<li><a href="#" id="">Computer / NoteBook</a>
			<ul>
				<li><a href="ProductController?action=1x_list&producttype=11">1. NoteBook</a></li>
				<li><a href="ProductController?action=1x_list&producttype=12">2. Mac(Apple)</a></li>
				<li><a href="ProductController?action=1x_list&producttype=13">3. Desktop</a></li>
				<li><a href="ProductController?action=1x_list&producttype=14">4. Tablet PC</a></li>
			</ul>
		<li><a href="#" id="">PC's Device</a>
			<ul>
				<li><a href="ProductController?action=2x_list&producttype=21">1. Monitor</a></li>
				<li><a href="ProductController?action=2x_list&producttype=22">2. Mouse</a></li>
				<li><a href="ProductController?action=2x_list&producttype=23">3. Keyboard</a></li>
				<li><a href="ProductController?action=2x_list&producttype=24">4. Speaker</a></li>
				<li><a href="ProductController?action=2x_list&producttype=25">5. Headphone</a></li>
			</ul>
		<li><a href="#" id="">PC's Main Device</a>
			<ul class="1">
				<li><a href="ProductController?action=3x_list&producttype=31">1. CPU</a></li>
				<li><a href="ProductController?action=3x_list&producttype=32">2. RAM</a></li>
				<li><a href="ProductController?action=3x_list&producttype=33">3. VGA</a></li>
				<li><a href="ProductController?action=3x_list&producttype=34">4. SSD / HDD</a></li>
			</ul>
		<li><a href="#" id="">Game / Etc</a>
			<ul>
				<li><a href="ProductController?action=4x_list&producttype=41">1. Gaming Device</a></li>
				<li><a href="ProductController?action=4x_list&producttype=42">2. Game(PC/PS4/ETC)</a></li>
				<li><a href="ProductController?action=4x_list&producttype=43">3. Router</a></li>
				<li><a href="ProductController?action=4x_list&producttype=44">4. Printer</a></li>
				<li><a href="ProductController?action=4x_list&producttype=45">5. ETC</a></li>
			</ul>		
	</ul>
</nav>
</div>